# KNN in glass data

In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

In [2]:
test = pd.read_csv('testKNN.txt',header = None)
test.columns = ['Id','Ri','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type of Glass']
test = test.drop('Id',axis = 1)
train = pd.read_csv('trainKNN.txt',header = None)
train.columns =  ['Id','Ri','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type of Glass']
train = train.drop('Id',axis = 1)

In [3]:
train.describe()

,Ri,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of Glass
count,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000
mean,1.518295,13.375204,2.758980,1.454337,72.635408,0.519388,8.910714,0.164235,0.050255,2.668367
std,0.003055,0.783145,1.392641,0.491688,0.763578,0.672703,1.421490,0.485198,0.086359,2.062416
min,1.511310,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516458,12.877500,2.362500,1.190000,72.317500,0.140000,8.220000,0.000000,0.000000,1.000000
50%,1.517630,13.280000,3.480000,1.360000,72.810000,0.560000,8.575000,0.000000,0.000000,2.000000
75%,1.518985,13.792500,3.610000,1.622500,73.080000,0.610000,9.092500,0.000000,0.090000,3.000000
max,1.533930,15.790000,4.490000,3.500000,75.180000,6.210000,16.190000,3.150000,0.340000,7.000000

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Ri             196 non-null    float64
 1   Na             196 non-null    float64
 2   Mg             196 non-null    float64
 3   Al             196 non-null    float64
 4   Si             196 non-null    float64
 5   K              196 non-null    float64
 6   Ca             196 non-null    float64
 7   Ba             196 non-null    float64
 8   Fe             196 non-null    float64
 9   Type of Glass  196 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 15.4 KB

scaler = StandardScaler()
scaler.fit(df.drop('Type of Glass',axis = 1))
scaled = scaler.transform(df.drop('Type of Glass'))

print(scaled)

In [5]:
def standardize(df):
    for col in df.columns:
        if col != 'Type of Glass':
            df[col] = (df[col] - df[col].mean())/df[col].std()
        return df

In [6]:
#Standardize data
train = standardize(train)
test = standardize(test)
train.head()

         Ri     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type of Glass
0  0.888537  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0              1
1 -0.224221  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0              1
2 -0.692234  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0              1
3 -0.207857  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0              1
4 -0.286405  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0              1

# k = 8 neighbors
euclid_model = KNeighborsClassifier(n_neighbors=8, metric=distance.sqeuclidean) # Square Euclidean distance model
manhattan_model = KNeighborsClassifier(n_neighbors=8, metric=distance.cityblock) # Manhattan distance model
x_train = train.drop(["Type of glass"], axis=1)
y_train = train["Type of glass"]
euclid_model.fit(x_train,y_train) # Train models
manhattan_model.fit(x_train, y_train)
x_test = test.drop("Type of glass", axis=1) 
y_test = test["Type of glass"]

In [7]:
# k = neighbors
euclid_model = KNeighborsClassifier(n_neighbors = 8,metric = 'sqeuclidean')
manhattan_model = KNeighborsClassifier(n_neighbors = 8,metric = 'cityblock')

x_train = train.drop(['Type of Glass'],axis = 1)
y_train = train['Type of Glass']
euclid_model.fit(x_train,y_train)
manhattan_model.fit(x_train,y_train)
x_test = test.drop(['Type of Glass'],axis = 1)
y_test = test['Type of Glass']

In [8]:
manhattan_prediction = manhattan_model.predict(x_test)
euclid_prediction = euclid_model.predict(x_test)
df = pd.DataFrame({'actual':y_test,'manhattan':manhattan_prediction,'euclid':euclid_prediction})
df.head()

C:\Users\TOSIHBA\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\TOSIHBA\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

   actual  manhattan  euclid
0       1          1       1
1       1          1       1
2       1          1       1
3       2          2       2
4       2          1       3

# Evaluate performance
manhattan_count = len(df.loc[df['manhattan'] == df['actual']])
euclid_count = len(df.loc[df['euclid'] == df['actual']])
print('Manhattan Accuracy: {}%'.format(round(100*manhattan_count/len(df), 2)))
print(classification_report(y_test, manhattan_predictions, target_names=df['actual'].astype(str).unique()))
print ('\n')
print('Square Euclidean Accuracy: {}%'.format(round(100*euclid_count/len(df), 2)))
print(classification_report(y_test, euclid_predictions, target_names=df['actual'].astype(str).unique()))
Manhattan Accuracy: 66.67%

In [9]:
manhattan_count = len(df.loc[df['manhattan'] == df['actual']])
euclid_count = len(df.loc[df['euclid'] == df['actual']])
print('manhattan accuracy:',round(100*manhattan_count/len(df),2),'%')
print(classification_report(y_test,manhattan_prediction,target_names=df['actual'].astype(str).unique()))
print('Square Euclidean Accuracy:',round(100*euclid_count/len(df),2),'%')
print(classification_report(y_test,euclid_prediction,target_names=df['actual'].astype(str).unique()))

manhattan accuracy: 44.44 %
              precision    recall  f1-score   support

           1       0.38      1.00      0.55         3
           2       0.20      0.33      0.25         3
           3       0.00      0.00      0.00         3
           5       1.00      0.33      0.50         3
           6       0.00      0.00      0.00         3
           7       0.75      1.00      0.86         3

    accuracy                           0.44        18
   macro avg       0.39      0.44      0.36        18
weighted avg       0.39      0.44      0.36        18

Square Euclidean Accuracy: 44.44 %
              precision    recall  f1-score   support

           1       0.43      1.00      0.60         3
           2       0.20      0.33      0.25         3
           3       0.00      0.00      0.00         3
           5       1.00      0.33      0.50         3
           6       0.00      0.00      0.00         3
           7       0.75      1.00      0.86         3

    accuracy                           0.44        18
   macro avg       0.40      0.44      0.37        18
weighted avg       0.40      0.44      0.37        18

C:\Users\TOSIHBA\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\TOSIHBA\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\TOSIHBA\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\TOSIHBA\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\TOSIHBA\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\TOSIHBA\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))