**The below code show:**

## Detiled information of the given data

In [1]:
import pandas as pd

users = pd.read_csv('takehome_users.csv',parse_dates=['creation_time'],encoding = 'latin-1')
user_eng = pd.read_csv('takehome_user_engagement.csv',parse_dates=['time_stamp'])

print(users.info())
print(user_eng.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  datetime64[ns]
 2   name                        12000 non-null  object
 3   email                       12000 non-null  object
 4   creation_source             12000 non-null  object
 5   last_session_creation_time  8823 non-null   float64
 6   opted_in_to_mailing_list    12000 non-null  int64
 7   enabled_for_marketing_drip  12000 non-null  int64
 8   org_id                      12000 non-null  int64
 9   invited_by_user_id          6417 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 937.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  207917 non-null  datetime64[ns]
 1   user_id     207917 non-null  int64
 2   visited     207917 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 4.8 MB
None

## 2]  A  usage  summary  table  ( "takehome_user_engagement" )  that  has  a  row  for  each  day that  a  user  logged  into  the  product. Defining  an  "adopted  user"   as  a  user  who   has  logged  into  the  product  on  three  separate days  in  at  least  one  seven day  period ,  identify  which  factors  predict  future  user adoption

In [2]:
engage = user_eng.set_index('time_stamp')
print(engage)

                     user_id  visited
time_stamp
2014-04-22 03:53:30        1        1
2013-11-15 03:45:04        2        1
2013-11-29 03:45:04        2        1
2013-12-09 03:45:04        2        1
2013-12-25 03:45:04        2        1
...                      ...      ...
2013-09-06 06:14:15    11996        1
2013-01-15 18:28:37    11997        1
2014-04-27 12:45:16    11998        1
2012-06-02 11:55:59    11999        1
2014-01-26 08:57:12    12000        1

[207917 rows x 2 columns]

In [3]:
engage = engage.groupby('user_id').resample('1W').sum()
print(engage)

                    user_id  visited
user_id time_stamp
1       2014-04-27        1        1
2       2013-11-17        2        1
        2013-11-24        0        0
        2013-12-01        2        1
        2013-12-08        0        0
...                     ...      ...
11996   2013-09-08    11996        1
11997   2013-01-20    11997        1
11998   2014-04-27    11998        1
11999   2012-06-03    11999        1
12000   2014-01-26    12000        1

[82282 rows x 2 columns]

In [4]:
adopted = engage[engage['visited']>2]
adopted

                    user_id  visited
user_id time_stamp
2       2014-02-09        6        3
10      2013-03-03       30        3
        2013-04-14       30        3
        2013-04-28       30        3
        2013-05-05       40        4
...                     ...      ...
11988   2014-04-06    35964        3
        2014-05-04    47952        4
        2014-05-18    35964        3
        2014-05-25    59940        5
        2014-06-01    35964        3

[33859 rows x 2 columns]

In [5]:
adopted_index = list(adopted.index)
adopted_user_list = []
for i in range(len(adopted_index)):
    adopted_user_list.append(adopted_index[i][0])
    
len(adopted_user_list)

33859

In [6]:
adopted_users = set(adopted_user_list)
len(adopted_users)

1445

In [7]:
users['adopted'] = False

for user in adopted_users:
    users.loc[user,'adopted'] = True
    
users.head(10)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,False
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,False
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,True
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,False
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,False
5,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0,False
6,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN,False
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN,False
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN,False
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0,False

**The below code shows:**

## How many persons have signed threw different creation sources ?

* Invite threw organization has the most and
* Signup threw google authentication has the least

In [8]:
c_source = users['creation_source'].unique()
c_source_count = users['creation_source'].value_counts()

print(c_source)
print(c_source_count)

['GUEST_INVITE' 'ORG_INVITE' 'SIGNUP' 'PERSONAL_PROJECTS'
 'SIGNUP_GOOGLE_AUTH']
ORG_INVITE            4254
GUEST_INVITE          2163
PERSONAL_PROJECTS     2111
SIGNUP                2087
SIGNUP_GOOGLE_AUTH    1385
Name: creation_source, dtype: int64

**The below code shows:**

## How many users have registered in different years ? 

* Year 2013 has the most users signup and
* Year 2012 has the least people signedup

In [9]:
hello = users['creation_time'].dt.year
print(hello.value_counts())

2013    5676
2014    3527
2012    2797
Name: creation_time, dtype: int64

**The below code shows:**

## Which user has invited other people around the most ?

it seems that the user 10741 has invited 13 people to the platform

In [10]:
invite = users['invited_by_user_id'].value_counts()
print(invite.head())

10741.0    13
2527.0     12
1525.0     11
11770.0    11
2308.0     11
Name: invited_by_user_id, dtype: int64

**The below code shows:**

## how many user have opted in for the mailing notification ?

In [11]:
invite = users['opted_in_to_mailing_list'].value_counts()
print(invite)

0    9006
1    2994
Name: opted_in_to_mailing_list, dtype: int64

**The below code shows:**

## How many people have enabled notification for marketing drip ?

In [12]:
invite = users['enabled_for_marketing_drip'].value_counts()
print(invite)

0    10208
1     1792
Name: enabled_for_marketing_drip, dtype: int64

**The below code shows:**

## How many people have opted for both the notification for mailing and marketing drip ?

In [13]:
opt2 = users[(users['opted_in_to_mailing_list'] == 1) & (users['enabled_for_marketing_drip'] == 1)]
print(len(opt2))

1342

**The below code shows:**

## The dataset has 645 repeated names

In [14]:
rep_name = users[users.duplicated('name')]
print(len(rep_name))

645

**The below code shows:**

## The dataset has 20 Repeated Emails

In [15]:
rep_email = users[users.duplicated('email')]
print(len(rep_email))

20

**The below code shows:**

## Which Email Domain has been used the most ?

It seems that the Google mail has been used th most 3562 times

In [16]:
Domain_name = users['email'].str.split('@').str[1]
diff_dom = Domain_name.value_counts()

print(diff_dom.head())

gmail.com         3562
yahoo.com         2447
jourrapide.com    1259
cuvox.de          1202
gustr.com         1179
Name: email, dtype: int64